<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Chat Interface</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'ChatHub/icon/favicon-32x32.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ChatHub/css/chatInterface.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body onload="scrollToBottom()">

    <div id="chat-container" class="flex flex-col justify-items-stretch min-h-screen p-40 space-y-4">
        <div class="chat-name-header">{{ chat_channel.chat_name }}</div>
        {% for message in chat_messages reversed %}
        {% if message.is_user_message %}
        <div class="chat-interface">
            <div class="chat-header">You</div>
            <div class="chat-content">
                {{ message.text|linebreaks }}
            </div>
        </div>
        {% else %}
        <div class="chat-interface">
            <div class="chat-header">Saraa</div>
            <div class="chat-content">
                {{ message.text|linebreaks }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="input-area">
            <form id="chat_message_form" method="POST"
                action="{% url 'chat_interface' chat_channel_uuid=chat_channel.chat_uuid %}">
                {% csrf_token %}
                <div class="w-full">
                    {{ message_form.text }}
                </div>
                <button type="submit" class="send-btn">Send</button>
            </form>
        </div>

        <button class="drawer-toggle">
            <span class="drawer-toggle-icon"></span>
        </button>

        <button class="drawer2-toggle">
            <span class="drawer2-toggle-icon"></span>
        </button>

        <div class="relative">
            <div class="drawer-overlay hidden"></div>
            <div class="drawer-sidebar">
                <div class="drawer-sidebar-content">
                    <!-- Sidebar content goes here -->
                    <form method="post" action="{% url 'create_chat_channel' %}">
                        {% csrf_token %}
                        <input type="text" name="chat_name" placeholder="New Chat +" class="drawer-link">
                    </form>
                    <ul>
                        {% for chat_channel in chat_channels_list %}
                        <li>
                            <a href="{% url 'chat_interface' chat_channel_uuid=chat_channel.chat_uuid %}"
                                class="drawer-link my-3">
                                {{ chat_channel.chat_name }}
                                <span class="spacer"></span>
                                <button class="delete-button text-red-700" type="button"
                                    data-chat-uuid="{{ chat_channel.chat_uuid }}">Delete</button>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="drawer-link my-3">Logout</button>
                        </form>
                    </ul>
                </div>
            </div>

            <div class="drawer2-overlay hidden"></div>
            <div class="drawer2-sidebar">
                <div class="drawer2-sidebar-content">
                    <!-- Sidebar content goes here -->
                    <ul>
                        <h3 class="font-bold">Upload a PDF</h3>
                        <form method="post" action="{% url 'chat_interface' chat_channel_uuid=chat_channel.chat_uuid %}"
                            enctype="multipart/form-data" class="items-center justify-center w-full my-3">
                            {% csrf_token %}
                            <label for="dropzone-file"
                                class="flex flex-row items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                    </svg>
                                    <p id="file-name" class="text-sm text-gray-500 dark:text-gray-400"></p>
                                </div>
                                <input id="dropzone-file" name="file" type="file" class="hidden"
                                    onchange="displayFileName()" />
                            </label>
                            <button type="submit" class="drawer-link my-3">Upload</button>
                        </form>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            function scrollToBottom() {
                var element = document.getElementById('chat-container');
                element.scrollTop = element.scrollHeight;
            }

            const drawerToggle = document.querySelector('.drawer-toggle');
            const drawerSidebar = document.querySelector('.drawer-sidebar');
            const drawerOverlay = document.querySelector('.drawer-overlay');
            const drawerParent = document.querySelector('.relative');

            drawerToggle.addEventListener('click', () => {
                drawerParent.classList.toggle('drawer-open');
            });

            drawerOverlay.addEventListener('click', () => {
                drawerParent.classList.remove('drawer-open');
            });

            const drawer2Toggle = document.querySelector('.drawer2-toggle');
            const drawer2Sidebar = document.querySelector('.drawer2-sidebar');
            const drawer2Overlay = document.querySelector('.drawer2-overlay');

            drawer2Toggle.addEventListener('click', () => {
                drawerParent.classList.toggle('drawer2-open');
            });

            drawer2Overlay.addEventListener('click', () => {
                drawerParent.classList.remove('drawer2-open');
            });

            document.querySelectorAll('.delete-button').forEach(button => {
                button.addEventListener('click', async event => {
                    const chat_uuid = event.target.dataset.chatUuid;
                    if (confirm(`Are you sure you want to delete the chat with UUID ${chat_uuid}?`)) {
                        try {
                            const response = await fetch(`/chathub/${chat_uuid}/delete_chat/`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': getCookie('csrftoken')
                                }
                            });
                            if (response.ok) {
                                const data = await response.json();
                                alert(data.message);  // Notify the user
                                if (data.redirect) {
                                    // Redirect if URL is provided in the response
                                    window.location.href = data.redirect;
                                }
                            } else {
                                alert('Error deleting chat channel');
                            }
                        } catch (error) {
                            console.error('Error:', error);
                            alert('An error occurred while deleting the chat channel.');
                        }
                    }
                });
            });

            document.getElementById('chat_message_form').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the form from submitting the default way

                // Get the value of the input field with the name 'text'
                let message = document.querySelector('input[name="text"]').value;

                // Print the retrieved message to the console for testing
                console.log('Message:', message);

                //delete message form input
                document.querySelector('input[name="text"]').value = '';

                // Add user message to the chat area
                let userChatBubble = document.createElement('div');
                userChatBubble.classList.add('chat-interface');
                let userChatHeader = document.createElement('div');
                userChatHeader.classList.add('chat-header');
                userChatHeader.innerText = 'You';
                let userChatContent = document.createElement('div');
                userChatContent.classList.add('chat-content');
                userChatContent.innerText = message;
                userChatBubble.appendChild(userChatHeader);
                userChatBubble.appendChild(userChatContent);
                document.getElementById('chat-container').appendChild(userChatBubble);

                //Loading section
                let loadingBubble = document.createElement('div');
                loadingBubble.classList.add('chat-interface', 'loading-bubble');
                loadingBubble.innerHTML = `
                <div class="chat-header">Saraa</div>
                <div class="chat-content">
                    <div class="flex space-x-1">
                        <div class='h-2 w-2 bg-gray-700 rounded-full animate-bounce animation-delay-03'></div>
                        <div class='h-2 w-2 bg-gray-700 rounded-full animate-bounce animation-delay-015'></div>
                        <div class='h-2 w-2 bg-gray-700 rounded-full animate-bounce'></div>
                    </div>
                </div>`;
                document.getElementById('chat-container').appendChild(loadingBubble);

                let chatContainer = document.getElementById('chat-container');
                chatContainer.scrollTop = chatContainer.scrollHeight;
                // Send form data to the server using fetch
                fetch(window.location.href, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken') // Add CSRF token
                    },
                    body: JSON.stringify({ text: message })
                })
                    .then(response => {
                        if (!response.ok) {
                            // If the response is not ok, throw an error
                            return response.text().then(text => { throw new Error(text) });
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {

                            document.getElementById('chat-container').removeChild(loadingBubble);

                            let aiChatBubble = document.createElement('div');
                            aiChatBubble.classList.add('chat-interface');
                            let aiChatHeader = document.createElement('div');
                            aiChatHeader.classList.add('chat-header');
                            aiChatHeader.innerText = 'Saraa';
                            let aiChatContent = document.createElement('div');
                            aiChatContent.classList.add('chat-content');
                            aiChatContent.innerText = data.ai_message;
                            aiChatBubble.appendChild(aiChatHeader);
                            aiChatBubble.appendChild(aiChatContent);
                            document.getElementById('chat-container').appendChild(aiChatBubble);

                            
                            chatContainer.scrollTop = chatContainer.scrollHeight;

                            // Clear the form input
                            document.querySelector('input[name="text"]').value = '';
                        } else {
                            console.error('Error:', data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function displayFileName() {
                const fileInput = document.getElementById('dropzone-file');
                const fileNameDisplay = document.getElementById('file-name');
                const fileName = fileInput.files[0] ? fileInput.files[0].name : '';
                fileNameDisplay.textContent = fileName;
            }

        </script>

</body>

</html>